<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760010209383-ga819pcoef18lmsfhnug5k2egj61tjgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760010209383-ga819pcoef18lmsfhnug5k2egj61tjgt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>760010209383-7aacnk07kl2iqb9n7f6cjumiitb9b848.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCmz1-UegJsUjLL490FQ8HKuE2IF3hsDlw</string>
	<key>GCM_SENDER_ID</key>
	<string>760010209383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cijo.fitheat</string>
	<key>PROJECT_ID</key>
	<string>test-workout-logger</string>
	<key>STORAGE_BUCKET</key>
	<string>test-workout-logger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760010209383:ios:10d5e6462a385a28f03cc2</string>
</dict>
</plist>